@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  background-color: #2a385c;
  background-image: linear-gradient(320deg, hsl(215, 10%, 12%) 0% /* down */, hsl(215, 19%, 24%) /* up */ 100%);
  font-family: var(--fonts-primary);
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}